@font-face {
    font-family: 'din';
    src:  url('./fonts/din/din1451alt_g-webfont.woff2') format('woff2'),
        url('./fonts/din/din1451alt_g-webfont.woff') format('woff');
}
.pageContainer {
    position: relative;
    width: 100%;
    display: inline-block;
}
.pageContent{
    position: relative;
    width: 80%;
    margin: 2vw auto 3vw auto;
    color: white;
    text-align: center;
}
.pageTitle{
    font-size: calc(1em + 2vw);
    font-family: din;
    margin-bottom: 2vw;
    text-align: center;
}
@media (max-aspect-ratio: 1/1) {
    .pageContent {
        width: 90%;
    }
}