@font-face {
    font-family: 'din';
    src:  url('./fonts/din/din1451alt_g-webfont.woff2') format('woff2'),
        url('./fonts/din/din1451alt_g-webfont.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,bold,italic,medium|Roboto:regular,medium');

.pageContainer {
    position: relative;
    width: 100%;
    display: inline-block;
}
.pageContent{
    position: relative;
    width: 80%;
    margin: 2vw auto 3vw auto;
    color: white;
    text-align: center;
}
.pageTitle{
    font-size: calc(1em + 2vw);
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 0 auto 2vw auto;
}