.gridContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.QABlock{
    flex-grow: 1;
    width: 90%;
    text-align: left;
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    .QABlock {
        width: calc((90% - 3em) / 2);
        margin: 0 1.5rem 0 1.5rem;
    }
    .QABlock:nth-child(2n) {
        margin-right: 0;
    }
    .QABlock:nth-child(2n - 1) {
        margin-left: 0;
    }
    .QABlock:nth-last-child(1) {
        margin-right: 0;
    }
}
@media screen and (min-width: 900px) and (max-width: 1999px) {
    .QABlock {
        width: calc((90% - 6em) / 3);
        margin: 0 1.5rem 0 1.5rem;
    }
    .QABlock:nth-child(3n) {
        margin-right: 0;
    }
    .QABlock:nth-child(3n - 2) {
        margin-left: 0;
    }
    .QABlock:nth-last-child(1) {
        margin-right: 0;
    }
}
@media screen and (min-width: 2000px) {
    .QABlock {
        width: calc((90% - 9em) / 4);
        margin: 0 1.5rem 0 1.5rem;
    }
    .QABlock:nth-child(4n) {
        margin-right: 0;
    }
    .QABlock:nth-child(4n - 3) {
        margin-left: 0;
    }
    .QABlock:nth-last-child(1) {
        margin-right: 0;
    }
}
.QATitle{
    font-size: calc(.65em + .5vw);
    overflow-wrap: break-word;
    margin: 0;
}
.QAText{
    font-size: calc(.6em + .5vw);
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 100;
}
.code{
    font-family: Menlo;
    margin-bottom: 1em;
}
.imports{
    font-size: calc(.6em + .5vw);
    width: 100%;
    margin: auto;
    text-align: left;
}
.keyword{
    color: #61CCC5;
    font-style: italic;
}
.specialKeyword{
    color: #fa8a89;
}
.function {
    color: #c2cb81;
}
.syntax{
    color: white;
}
.specialSyntax{
    color: #E6DC83;
}
