#QABlock{
    max-width: 500px;
    min-width: 200px;
}
.colContainer{
    margin: auto;
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.QATitle{
    font-size: calc(.65em + .5vw);
    margin: 0;
}
.QAText{
    font-size: calc(.5em + .5vw);
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 100;
}
.Code{
    font-family: Menlo;
    margin-bottom: 1em;
}
.keyword{
    color: #61CCC5;
    font-style: italic;
}
.function {
    color: #A2C746;
}
.syntax{
    color: white;
}