@font-face {
  font-family: 'din';
  src:  url('./fonts/din/din1451alt_g-webfont.woff2') format('woff2'),
      url('./fonts/din/din1451alt_g-webfont.woff') format('woff');
}

.registerTitle{
  color: #C0E6EC;
  font-size: calc(1em + 3vw);
  font-family: din;
}
.registerSubTitle{
  font-size: calc(.75em + 1vw);
}
.registerDetails{
  font-size: calc(.5em + 1vw);
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 4vw;
}
.registerButton{
  margin-top: 4vw;
  width: 10vw;
  font-size: calc(.75em + 1vw);
  border-radius: 10px;
  background-color: gray;
}
.socialContainer{
  display: flex;
  justify-content: center;
}
.social{
  margin: 1.5em .5vw 0 .5vw;
}
.socialMobile{
  margin: 1.5em 1vw 1em 1vw;
}