@font-face {
    font-family: 'din';
    src:  url('./fonts/din/din1451alt_g-webfont.woff2') format('woff2'),
        url('./fonts/din/din1451alt_g-webfont.woff') format('woff');
}
.dayContainer {
    padding: 5px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 20%;
    border-radius: 1%;
}
.scheduleDay{ 
    font-size: calc(0.65em + .9vw);
    width: 100%;
    top: 10%;
    color: #5f936a;
    text-align: left;
    margin-bottom: .5em;
    font-weight: bold;
}
.scheduleEvent{ 
    font-size: calc(0.55em + .8vw);
    width: 100%;
    top: 10%;
    color: #072a24;
    text-align: left;
    margin-bottom: .5em;
}