.divider{
  width: 100%;
  border-color: #f3f3f3;
  border-top-width: 2px;
  margin: 0;
}
.tierTitle{
  width: 100%;
  text-align: center;
  color: #f3f3f3;
  font-size: calc(1em + 1vw);
}
.sponsorContainer{
  width: 100%;
}
.sponsorImg{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.sponsorContainer{
  background-color: #72B9BC;
}