/* .divider{
  width: 100%;
  border-color: #f3f3f3;
  border-top-width: 2px;
  margin: 10;
} */
/* .tierTitle{
  width: 100%;
  text-align: center;
  color: #f3f3f3;
  font-size: calc(1em + 1vw);
} */

.sponsorContainer{
  display: flex;
  flex-flow: row wrap;
  height:250px; 
  position:relative; 
  overflow:hidden;
}
.tierContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.sponsorImg{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-self: center;
  overflow: visible; 
  flex-flow: row nowrap;
  /* white-space: nowrap; */
  animation: bannermove 15s linear infinite;
}

.sponsorImg img {
  margin: 0 0.5em;
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-700%, 0);
  }
}